@import "mixins";
@import "variable";
@import "animation";
@import "navBar";
//颜色
.white-bg{
  background-color: #FFFFFF;
}

.a-blue-bg{
  background-color: $a-blue;
}

.b-blue-bg{
  background-color: $b-blue;
}

.a-green-bg{
  background-color: $a-green;
}

.a-yellow-bg{
  background-color: $a-yellow;
}

.a-red-bg{
  background-color: $a-red;
}

/* 字体 */
.a-blue-color{
  color: $a-blue;
}

.b-blue-color{
  color: $b-blue;
}

.a-green-color{
  color: $a-green;
}

.a-yellow-color{
  color: $a-yellow;
}

.a-red-color{
  color: $a-red;
}
.b-gray-color{
  color: $b-gray
}
.e-gray-color{
  color: $e-gray
}

.d-gray-color{
  color: $d-gray
}

//felx布局
.ui-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.ui-cell {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* x轴排不下换行 */
.ui-wrap {
  flex-wrap: wrap;
}

/* x轴换行 */
.ui-column {
  flex-direction: column;
}

/* 容器内盒子x轴方向两端对齐,项目之间的间隔都相等。*/

.ui-cell-sb {
  justify-content: space-between;
}

/*容器内盒子x轴方向间隔相等*/

.ui-cell-sa {
  justify-content: space-around;
}

/* 容器内盒子x轴方向居中 */

.ui-cell-cn {
  justify-content: center;
}

/* 容器内盒子x轴方向右对齐 */

.ui-cell-end {
  justify-content: flex-end;
}

/* x轴换行 两端对齐 */

.ui-cell-hh {
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 容器内盒子x轴上下居中,文本向右对齐 */

.ui-cell-ft {
  text-align: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* 容器内盒子x轴上对齐 */
.ui-cell-top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

/*单个项目-上对齐*/
.ui-cell-lt {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

/* 单个项目-底部对齐 */
.ui-cell-bt {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

/* 单个项目布满剩下空间 */
.ui-primary {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*文本截断*/
.ui-nowrap {
  max-width: 100%;
  white-space: nowrap;
}
.ui-nowrap-flex {
  -webkit-line-clamp: 1;
  -webkit-box-flex: 1;
  height: inherit;
}
.ui-nowrap,
.ui-nowrap-flex,
.ui-nowrap-2,
.ui-nowrap-3,
.ui-nowrap-6,
.ui-nowrap-4 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-nowrap-flex,
.ui-nowrap-2,
.ui-nowrap-3,
.ui-nowrap-6,
.ui-nowrap-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.ui-nowrap-2 {
  -webkit-line-clamp: 2;
}

.ui-nowrap-3 {
  -webkit-line-clamp: 3;
}

.ui-nowrap-4 {
  -webkit-line-clamp: 4;
}

.ui-nowrap-6 {
  -webkit-line-clamp: 6;
}

/* 图片宽高100% */
.img_100 {
  display: block;
  width: 100%;
  height: 100%;
}
/*清除浮动*/

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

//美化滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101f1c, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(#101f1c, 0.1);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(#101f1c, 0.1);
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.prod_main {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: $g-gray;
}

.busCancelEdit{
  .el-form-item{
    margin-bottom: 5px;
  }
  .grayWrap{
    background-color: white;
  }
  .el-input-group__append, .el-input-group__prepend{
    background-color: #F2F8FD;
  }
  .el-textarea.is-disabled .el-textarea__inner{
    background-color: white;
    color: #4A4A4A;
  }
  .el-input.is-disabled .el-input__inner, .el-radio__input.is-disabled+span.el-radio__label, .el-checkbox__input.is-disabled+span.el-checkbox__label{
    color: #4A4A4A;
  }

  .el-radio, .el-checkbox{
    display: none;
  }

  .is-checked{
    display: flex;
  }

  .el-input__suffix{
    display: none;
  }
}

.busElInput{
  font-size: 14px;
  color: $b-gray;
  .el-form-item__label{
    color: $e-gray;
  }
  .el-form-item__content{
    word-break:break-all
  }
}

.custom-input{
  .el-input__wrapper {
    height: 30px;
    background: #F4F5FC;
    border-radius: 2px;
    box-shadow: none;
  }
  .el-input__wrapper:hover,.el-textarea__inner:hover {
    box-shadow: none;
  }
  .el-textarea__inner{
    background: #F4F5FC;
    box-shadow: none;
  }
  .el-input-number{
    width: 100%;
    .el-input__inner {
      text-align: left;
    }
    .el-input__wrapper{
      padding-left: 10px!important;
    }
  }
  .el-select{
    width: 100%;
  }
}
.table-border{
  -webkit-overflow-scrolling: touch;//ios滚定条被遮住了，加上这个才正常
  border: 1px solid #EBF1F7;
  border-bottom: 0;
}

.el-collapse-item__arrow{
  transform: rotate(90deg);
}
.el-collapse-item__arrow.is-active{
  transform: rotate(-90deg) !important;
}
.van-overlay{
  background: rgba(34, 40, 61, 0.48);
}
.van-calendar__header-title{
  font-size: 18px !important;
  font-weight: 550 !important;
  color: $b-gray;
}
.van-calendar__confirm{
  height: 44px !important;
  border-radius: 2px !important;
  margin-bottom: 16px !important;
  font-size: 16px !important;
}

.height36{
  line-height: 36px;
  height: 36px;
  font-size: 14px;
}
//固定pxTable右侧操作栏
.table-right__sticky{
  .table-body-tbody>tr>td:last-of-type, .table-header-thead>tr>th:last-of-type {
    position: sticky;
    right: 0;
    background: #FFFFFF;
  }
  .table-body-tbody>tr>td:last-of-type:before, .table-header-thead>tr>th:last-of-type:before{
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 10px;
    bottom: -1px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, .15);
    touch-action: none;
    pointer-events: none;
  }
  .table-body-tbody>tr:last-of-type>td:last-of-type{
    background: #F9F9F9;
  }

  .table-header-thead>tr>th:last-of-type {
    background: #EBF5FF;
  }
}

.van-toast{
  z-index: 2010;
}

