.px-nav-bar {
  height: 46px;
  flex-shrink: 0;
  background:#FFFFFF;
  .van-nav-bar__text {
    font-size: 14px;
    color: #2972FE;
  }

  .van-nav-bar__title {
    font-size: 22px;
    font-weight: bold;
    color: #4A4A4A;
  }

  .van-nav-bar .van-icon {
    color: #4A4A4A;
    font-size: 22px;
  }
  .van-nav-bar__right{
    padding-right: 20px;
  }
}
//覆盖左侧的返回按钮，执行自定义操作
//<span class="cover-nav__close"  @click.stop="handelNavBack('spotCheck',{params:{type: route.params.type}})">
//<van-icon name="arrow-left" />
//</span>
.cover-nav__close{
  background: #FFFFFF;
  width: 56PX;
  height: 46px;
  line-height: 50px;
  color: #1B2124;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 9;
  font-size: 14px;
  .van-icon {
    color: #4A4A4A;
    font-size: 22px;
  }
}
