@mixin taskDetail {
  .collapseWrap{
    flex: 1;
    overflow: auto;
    &::after{
      display: none;
    }
  }
  ul{
    font-size: 14px;
    color: $b-gray;
    li{
      //height: 36px;
      line-height: 36px;
    }
  }
  :deep(.titleWrap){
    font-size: 16px;
    font-weight: 550;
  }
  :deep(.van-collapse-item){
    margin-bottom: 10px;
    .van-collapse-item__content{
      padding-top: 0;
    }
  }
  :deep(.van-cell:after){
    display: none;
  }
  :deep(.van-cell-group:after){
    display: none;
  }
  :deep(.van-field__body){
    textarea{
      padding: 5px 10px;
      background: #F6F6FB;
      border-radius: 2px;
    }
    input{
      background: #F6F6FB;
      height: 30px;
      padding-left: 10px;
      box-sizing: border-box;
      border-radius: 2px;
    }
    input:read-only{
      background: #ffffff;
      height: 30px;
    }
  }
  :deep(.van-field__label){
    color: $e-gray;
    line-height: 30px;
  }
  :deep(.van-field__control::-webkit-input-placeholder) {
    font-size: 13px;
    line-height: 20px;
    color: #B2BAD1;
  }
}
