//scss全局变量
$a-blue: #1572F9;
$b-blue: #0096FF;
$c-blue: #7FCAFF;
$d-blue: #D3EEFF;
$e-blue: #F6F6FB;

$a-green: #34C606;

$a-yellow: #FFBF00;

$a-red: #FF3A35;

$a-gray: #f9f9f9;
$b-gray: #4A4A4A;
$c-gray: #626873;
$d-gray: #8994A9;
$e-gray: #A2A2A2;
$f-gray: #CDCDCD;
$g-gray: #F2F3F8;